$fontSans: "Crimson Text", serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #666
$beta: #FFF5E3
$gama: #575757
$delta: #FFD1A9
$epsilon: #ededed
$omega: #0D1A2D
$zeta: #2E4A6D
$kappa: #2C2C2C

$thin-font: 300

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
